extends layout 

block content
    if currentUser.isMember 
        h1 You are already a member of the Slug Club!
    else 
        h1 Want to see who is posting what?
        p All you need to do is join our amazing club! Just answer the riddle correctly and you're in!
        
        form(action="" method="POST")
            .form-group
                label(for="secretcode") Which came first, the phoenix or the feather?
                input#secretcode.form-control(type="text" required)
            input#userid(type="hidden" name="userid" value=currentUser._id)
            button.btn.btn-info Join Now!
