extends layout

block content
    h1 Are you sure you want to delete this message?

    .card
        .card-header.bg-dark.text-light
          h1 #{message.title} 
        .card-body 
          p #{message.text}
        .card-footer 
          p Posted by: #{message.author.name} at #{message.timestamp}
    

    form(action="" method="POST")
        input#id(type='hidden' name="id" value=(message._id))
        button.btn.btn-danger Delete
