extends layout

block content
    header.user
        h1 Welcome #{currentUser.first_name}!
    if !currentUser.isMember
        a(href='/join') 
            button.btn Become a member
    a(href='/message/create') 
            button.btn Create a new message

    
    br
    br
    h2 Your messages:
    for message in currentUser.messages
        .card
            .card-header.bg-dark.text-light
                h5 #{message.title}
            .card-body 
                p #{message.text}
            .card-footer
                p Posted at #{message.timestamp}

        