extends layout

block content
    header.user
        h1 Welcome #{currentUser.first_name}!
        a(href='/logout') 
            button.btn.btn-info Log Out
    if !currentUser.isAdmin
        a(href='/join') 
            button.btn.btn-primary Become a member

    a(href='/message/create') 
        button.btn.btn-primary Create a new message
    br
    br
    h2 Your messages:
    for message in currentUser.messages
        .card
            .card-header.bg-dark.text-light
                h5 #{message.title}
            .card-body 
                p #{message.text}
            .card-footer
                p Posted at #{message.timestamp}

        