extends layout

block content
    header.user
        h1 Welcome #{currentUser.first_name}!
        a(href='/logout') 
            button.btn.btn-info Log Out
    if !currentUser.isAdmin
        a(href='/join') 
            button.btn.btn-primary Become a member

    a(href='/message/create') 
        button.btn.btn-primary Create a new message
    